<div>
    {{ strDrink }}<br>
    {{ strAlcoholic }}<br>
    {{ strInstructions }}<br>
    <img src="{{ strDrinkThumb }}">
    {{ strVideo }}
    {{ strIngredient}}
</div>
<div>
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>