<link rel="stylesheet" href="./css/styles.css">
<div class="drinks-table">
    <h2>{{ strDrink }}</h2><br>
    {{ strAlcoholic }}<br>
    {{ strInstructions }}<br>
    <img src="{{ strDrinkThumb }}">
    {{ strVideo }}
    <div id="ingredients"></div>
</div>

<script src="./js/drinkObj.js"


