<div>
    <link rel="stylesheet" href="../public/css/styles.css">
<div class="drinks-table">
    <h2>{{ strDrink }}</h2><br>
    {{ strAlcoholic }}<br>
    {{ strInstructions }}<br>
    <img src="{{ strDrinkThumb }}">
    {{ strVideo }}
    {{ strIngredient1}}

    <form action="/random-drink">
      <input class="searchTerm" type="text" placeholder="Search.." name="search">
      <button id="searchBtn" type="submit">Search for Cocktail by Name!</button>
    </form>
</div>